@using AppWeb.Client.Features.Users.Components
@using AppWeb.Shared.Inputs
@using AppWeb.Shared.Dtos
@using MudBlazor

<section class="user-form-section mb-8">
    <div class="container mx-auto px-4">
        <FormUser OnSubmit="@OnSubmit"
                  Existing="@ExistingUser"
                  Loading="@Loading"
                  Success="@Success"
                  Input="@Input"/>
    </div>
</section>

@code {
    [Parameter] public UserResultDto? ExistingUser { get; set; }
    [Parameter] public object Input { get; set; } = default!;
    [Parameter] public EventCallback OnSubmit { get; set; }
    [Parameter] public bool Loading { get; set; }
    [Parameter] public bool Success { get; set; }
}